body {
	margin: 0px;
	font-family: 'Quicksand', sans-serif;
}

a, a:hover {
	color: black;
	text-decoration: none;
}

ul {
	padding: 0px;
	list-style: none;
}

#left-square {
	position: fixed;
	z-index: -1;
	width: 20%;
	height: 1000px;
	/*background-color: #40ffFF99;*/
	border-radius: 0 175px 0 1750px;
	background: linear-gradient(to top, #40ffFF99, #409EFF55);
}

#logo {
	/*padding-top: 50px;*/
	padding-bottom: 150px;
	text-align: center;
	/*background-color: #123;*/
	background-color: #409EFF55;
	border-radius: 0 0 1750px 1750px;
}

#logo img {
	width: 300px;
}

#logo h1 {
	color: #409EFF;
	margin: 0px;
	margin-bottom: 20px;
}

#content {
	background-color: white;
	width: 80%;
	margin: 10px auto;
	box-shadow: 0px 0px 20px #888888;
	border-radius: 8px;
	padding: 10px;
	position: relative;
	top: -160px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	/*animation:mymove 0.8s forwards;*/
}

#content hr {
	border: 0;
	background-color: #409Eff;
	height: 1px;
}

#content .box {
	position: relative;
	margin: 15px;
	width: 400px;
	/*background: linear-gradient(to top, rgba(94,155,232,0.6), rgba(255,64,207,0.6));*/
	background: #409Effaa;
	padding: 20px;
	border-radius: 5px;
	transition: background-color 0.5s ease, box-shadow 0.5s ease;
	opacity: 0;
}
#content .box:nth-child(1) {
	animation:mymove 0.8s forwards;
}
#content .box:nth-child(2) {
	animation:mymove 0.8s forwards 0.2s;
}
#content .box:nth-child(3) {
	animation:mymove 0.8s forwards 0.4s;
}
#content .box:nth-child(4) {
	animation:mymove 0.8s forwards 0.6s;
}
#content .box:nth-child(5) {
	animation:mymove 0.8s forwards 0.8s;
}

@keyframes mymove {
	from { left: 30px;}
	to { left: 0px; opacity: 1}
}

#content .box:hover{
	background-color: #409Eff99;
	box-shadow: 0px 0px 10px #888;
}

.bubble {
	color: white;
	border-radius: 25px;
	padding: 8px;
	font-size: 0.7em;
	float: right;
}

.dev {
	background-color: #dc3545;
}

.stable {
	background-color: #28a745;
}
